<div class="card-show-rating-progression">
  <div class="card-show-rating-lines">
    <% (1..5).to_a.reverse_each do |rating| %>
      <div class="card-show-rating-progression-line">
        <div class="card-show-rating-progression-line-stars">
          <span class="overtitre"><%= rating %></span>
          <i class="fas fa-star"></i>
        </div>

        <div class="card-show-rating-progression-line-progress">
          <% rating_percentage = ((@spot.reviews.where(rate: rating).count.to_f) / (@spot.reviews.count.to_f) * 100).round %>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_percentage %>%;" aria-valuenow="<%= rating_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-show-rating-main">
    <span class="display-4 bold"><%= @average_rating %></span><br>
    <p class="overtitre"><%= @spot.reviews.count %> AVIS</p>
  </div>
</div>
