<div class="spot-weather-details">
  <div class="spot-weather-details-meteo">
    <h3>Météo</h3>
    <div class="spot-show-meteo-days">
      <% @days.each do |day| %>
      <div>
        <p><%= "#{I18n.l(DateTime.parse(day.first["time"]), format: '%a')} #{DateTime.parse(day.first["time"]).day}" %></p>
        <div class="spot-weather-details-grid">
          <% day.each do |key, value| %>
            <div class="d-flex  flex-column gap-2 align-items-center mt-2 text-center">
              <div><%= key["time"].split.last %></div>
              <div><%= image_tag key["condition"]["icon"] %></div>
              <div class="bold"><%= "#{key["temp_c"]} C°" %></div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="spot-weather-details-meteo">
    <h3>Vagues</h3>
    <div class="spot-show-meteo-days">
      <% @marine_weather.each do |day| %>
      <div>
        <p><%= "#{I18n.l(DateTime.parse(day.first["time"]), format: '%a')} #{DateTime.parse(day.first["time"]).day}" %></p>
        <div class="spot-weather-details-grid">
          <% day.each do |key, value| %>
            <div class="d-flex  flex-column gap-2 align-items-center mt-2 text-center">
              <div><%= key["time"].match(/T(\d+:\d+):/)[1] %></div>
              <div class="bold"><%= "#{key["waveHeight"]["noaa"]}" %> m</div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="spot-weather-details-meteo">
    <h3>Vent</h3>
    <div class="spot-show-meteo-days">
      <% @marine_weather.each do |day| %>
      <div>
        <p><%= "#{I18n.l(DateTime.parse(day.first["time"]), format: '%a')} #{DateTime.parse(day.first["time"]).day}" %></p>
        <div class="spot-weather-details-grid">
          <% day.each do |key, value| %>
            <div class="d-flex  flex-column gap-2 align-items-center mt-2 text-center">
              <div><%= key["time"].match(/T(\d+:\d+):/)[1] %></div>
              <div style="transform:rotate(<%= key["windDirection"]["noaa"]%>deg)" class="weather-wind-icon"><%= image_tag "icons/direction.svg"%></div>
              <div class="bold"><%= "#{key["windSpeed"]["noaa"]}" %> Km/h</div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
