<div class="card mb-3 position-relative">
    <%= link_to "Retour en arrière", :back %>
    <%= cl_image_tag @spot.photo.key %>
  <div class="card-body d-flex flex-column">
    <%= link_to spot_path(@spot) do %>
      <div class="favorite-button">
        <%= image_tag('icons/heart.svg') %>
      </div>
    <% end %>

    <div class="card-body-head">
      <p class="mx-1"><strong><%=@average_rating%> <i class="fa-solid fa-star" style="color: #FFD43B;"></i></strong></p>
      <h1><%=@spot.name%></h1>
      <p class="mb-2"><%=@spot.address%></p>
    </div>
      <p class="mb-3"><%=@spot.description%></p>
    <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <p class="overtitre mb-2" >DISTANCE</p>
      <p>5 km</p>
    </div>
    <div>
      <p class="overtitre"><%=@average_difficulty%></p>
    </div>
    </div>
  </div>
</div>
<div class="spot-details" data-controller="show-spot-weather">
  <div class="d-flex justify-content-between py-3">
  <h3>Conditions</h3>
  <p data-action="click->show-spot-weather#showWeather">Tout voir</p>
  </div>
 <div class="spot-details-weather-cards">
    <div class="card-category">
      <%= image_tag('icons/sun.svg') %>
    <h4>18°</h4>
    </div>
    <div class="card-category">
      <%= image_tag('icons/direction.svg') %>
    <h4>25km/h</h4>
    <p>N-NW</p>
    </div>

    <div class="card-category">
      <%= image_tag('icons/wave.svg') %>
      <h4>1,5m</h4>
    </div>
  </div>


  <%= render "weather_data" %>
</div>

<div class="container">
  <ul class="list-inline tabs-underlined mt-5">
  <li>
    <a href="#" class="tab-underlined active">Avis</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Photos</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Communauté</a>
  </li>
</ul>
 <% @spot.reviews.each do |review| %>
<%= render "reviews/review_card", review: review %>
<%end%>
  <h3>Nouvelle Évaluation :</h3>
  <%= render "reviews/review_form", review: @review,  spot: @spot%>
</div>
