<div class="spot mb-3 position-relative">
  <%= link_to :back, class:'back-button' do %>
    <%= image_tag('icons/back.svg')%>
    <span>Retour</span>
  <% end %>
  <%= cl_image_tag @spot.photo.key, class:'spot-photo' %>
  <div class="spot-body d-flex flex-column">

    <%# if current_user.bookmarks.find_by(spot: @spot) %>
      <%#= form_with(model: @bookmark, data: {turbo_method: :delete}) do |f| %>
        <%# <button type= "submit" class="favorite-button">
        </button> %>
      <%# end %>
    <%# else %>
      <%= form_with(url: spot_bookmarks_path(@spot), method: :post) do |f| %>
        <button type= "submit" class="favorite-button">
          <%= image_tag('icons/heart.svg') %>
        </button>
      <% end %>
    <%# end %>

    <div class="d-flex justify-content-between">
      <h3><%=@spot.name%></h3>
      <div class="d-flex align-items-center">
        <p class="mx-1"><strong><%=@average_rating%> <i class="fa-solid fa-star" style="color: #FFD43B;"></i></strong></p>
      </div>
    </div>
      <p class="mb-3 text-blue-600"><%=@spot.address%></p>
      <p class="mb-4"><%=@spot.description%></p>
    <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <p class="overtitre mb-2 text-blue-600" >DISTANCE</p>
      <p>5 km</p>
    </div>
    <div>
    <div class="d-flex flex-column">
      <p class="overtitre mb-2 text-blue-600">DIFFICULTE</p>
      <%=@average_difficulty%>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between py-3">
  <h3>Conditions</h3>
  <p>Tout voir</p>
  </div>
 <div class="cards">
    <div class="card-category">
  <%= image_tag('icons/sun.svg') %>
  <h4>18°</h4>
    </div>
    <div class="card-category">
   <%= image_tag('icons/direction.svg') %>
   <h4>25km/h</h4>
   <p>N-NW</p>
    </div>

    <div class="card-category">
     <%= image_tag('icons/wave.svg') %>
     <h4>1,5m</h4>
    </div>
  </div>
  <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Avis</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Photos</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Communauté</a>
  </li>
</ul>
 <% @spot.reviews.each do |review| %>
<%= render "reviews/review_card", review: review %>
<%end%>
  <h3>Nouvelle Évaluation :</h3>
  <%= render "reviews/review_form", review: @review,  spot: @spot%>
</div>
</div>
