 <div class="feed-card">
<%#= cl_image_tag instance.user.avatar.key %>
  <img src="https://picsum.photos/200/300" alt="Photo de l'utilisateur" class="avatar">
<div class="feed-content">
    <span class="text-small"><%= instance.created_at %></span>
    <p><span class="bold"><%= instance.user.nickname %></span> a ajouté un commentaire sur <span class="bold"><%= instance.spot.name %></span></p>
    <div class= "feed-rating">
    <div class="rating">
      <p><span class="bold">Avis sur le spot :</span></p>
        <%= image_tag('icons/star-fill.svg') %>
        <%= image_tag('icons/star-fill.svg') %>
        <%= image_tag('icons/star-fill.svg') %>
        <%= image_tag('icons/star-fill.svg') %>
        <%= image_tag('icons/star-fill.svg') %>
        <p>Niveau de Difficulté : <span class="bold"><%= instance.difficulty %></span></p>
        <br>
        <p><%= instance.content %></p>
    </div>
    </div>
  </div>
</div>
