<div class="container">
  <h1>Brouillon</h1>
  <%= cl_image_tag Spot.first.photo.key, height: 300, width: 400, crop: :fill %>


  <!-- Bottom navbar -->
  <nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
    <%= link_to (image_tag('icons/home.svg')), root_path %>
    <%= link_to (image_tag('icons/heart.svg')),favorites_path %>
    <%= link_to (image_tag('icons/search.svg')), spots_path %>
    <%= link_to (image_tag('icons/profile.svg')), profile_path %>
    </div>
  </nav>

<!-- Search bar-->
<form novalidate="novalidate" class="simple_form search " action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required rounded-pill" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat rounded-circle">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

<!-- Button -->
<button type="button" class="btn rounded-pill">Bouton</button>

<!-- Card spot Summary -->

<div class="card-spot-summary">
  <%= cl_image_tag @spots.first.photo.key %>
  <div class="card-spot-infos">
    <div>
      <h2><%= @spots.first.name %></h2>
      <p><%= @spots.first.description %></p>
    </div>
    <h2 class="card-spot-summary-pricing"></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-summary-user avatar-bordered" />
  </div>
</div>

</div>
