<div class="home-bg">
  <%= video_tag "video/Home-video.mp4", autoplay: :autoplay, loop: true, class: "home-bg-video" %>
  <div class="home-container">


    <%= image_tag "icons/logo-spotthewave.svg", class:'logo'%>
    <div class="home-content">
      <h1>Les spots de surf dans votre poche !</h1>
      <h3>Découvrez et partagez vos meilleurs spots avec vos potes</h3>
      <%= render 'shared/searchbar' %>
    </div>
    <div class="home-buttons">
      <% if user_signed_in? %>
        <%= link_to 'Voir mon feed',"/feed", class:"btn"%>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path, class:"btn"%>
        <%= link_to 'Créer mon compte', new_user_registration_path, class:"btn btn-secondary"%>
      <% end %>
    </div>
  </div>
</div>
