<%# <h1>Spot the Wave</h1> %>
  <%# <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lushpalm.com/wp-content/uploads/2018/09/surfing-california-49.jpg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://c.stocksy.com/a/cRo100/z9/432240.jpg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://better.net/wp-content/uploads/2023/10/Surfers-surfering-together-in-ocean-e1622737201985.jpg" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1>Où voulez-vous surfer ?</h1>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c.stocksy.com/a/cRo100/z9/432240.jpg)">
        <%= link_to "Découvrez des spots", spots_path %>
    <%# </div> %>

    <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/ocean/ocean-waves.jpg)">
        Accédez à la météo et taille des vagues
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://better.net/wp-content/uploads/2023/10/Surfers-surfering-together-in-ocean-e1622737201985.jpg)">
      Suivez les autres surfeurs
    </div>
  </div>
  <h2><a class="btn btn-flat mt-3 mb-3" href="#">Inscrivez-vous</a></h2>

  <div class="reviews" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMrLOj92CBFc49MjWXx2uT9Zz8RjYI56i-oQ&usqp=CAU)">
    <h3>Ce que nos utilisateurs en pensent</h3>
  </div> %>

<div class="home-bg">
  <%= video_tag "video/Home-video.mp4", autoplay: :autoplay, loop: true, class: "home-bg-video" %>
  <div class="home-container">

    <div class="logo">ghjk</div>
    <div class="home-content">
      <h1>Les spots de surf dans votre poche !</h1>
      <h3>Découvrez et partagez vos meilleurs spots avec vos potes</h3>
      <%= render 'shared/searchbar' %>
    </div>
    <div class="home-buttons">
      <% if user_signed_in? %>
        <%= link_to 'Voir mon feed',"/feed", class:"btn"%>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path, class:"btn"%>
        <%= link_to 'Créer mon compte', new_user_registration_path, class:"btn btn-secondary"%>
      <% end %>
    </div>
  </div>
</div>
