<div class="feed-card mb-4">
  <%= cl_image_tag review.user.photo.key, class:'avatar' %>

  <div class="d-flex w-100 flex-column">
    <div class="d-flex align-items-center bd-highlight">
      <span class="bd-highlight bold"><%= review.user.nickname%></span>
      <div class="rating feed-rating-stars ml-2">
        <% Review::AUTHORIZED_RATINGS.each do |number| %>
          <i class="fa<%= (number > review.rate) ? 'r' : 's' %> fa-star"></i>
        <% end %>
      </div>
      <span class="text-small ms-auto bd-highlight text-blue-600">Il y a <%= time_ago_in_words(review.created_at) %></span>
    </div>
    <p class="mt-1"><%= review.content%></p>
    <p class="mt-1">Pour moi c'est un spot <span class="bold"><%= review.difficulty%></span></p>
  </div>
</div>
