<div class="feed-card mb-3">
<div class="avatar">
<%= image_tag('icons/profile.svg')%>
</div>
<div class="d-flex w-100 flex-column">
<div class="d-flex align-items-end bd-highlight">
    <span class="text-small p-1 bd-highlight"><%= review.user.nickname%></span>
    <div class="rating p-1 bd-highlight">
      <% Review::AUTHORIZED_RATINGS.each do |number| %>
      <i class="fa<%= (number > review.rate) ? 'r' : 's' %> fa-star"></i>
    <% end %>
    </div>
    <span class="text-small ms-auto p-1 bd-highlight">Il y a <%= time_ago_in_words(review.created_at) %></span>
  </div>
  <p><%= review.content%></p>
    <p>Difficulté : <%= review.difficulty%></p>
    </div>
    <%# <p>Visité le 12/02 dernier, personne en vue, la plage pour moi la météo au top !</p> %>
</div>
